*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

}

html{
    scroll-behavior: smooth;
}

/*Common CSS*/

body{
    background: #ddddff;
    padding: 10rem;
    line-height: 1.7;
}

img{
    width: 100%;
}

 h2, h5{

    font-weight: 500;
}

section{
    margin-top: 8rem;
}

.btn{
    display: inline-block;
    color: #4db5ff;
    padding: 0.75rem 1.2em;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid #4db5ff;
    transition: all 400ms ease;
    width: 15rem;
    margin-left: 6rem;


}

.btn:hover{
    background: white;
    color: #1f1f38;
    border-color: transparent;

}

.btn-primary{
    background: #4db5ff;
    color: #1f1f38;
}


/*=============================================================*/

.login{
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
    
}

.login_form{
    padding-top: 5rem;
}

.heading{
    text-align: center;
    line-height: 1.1;
}


h2{
    font-size: 1.5rem;
}
h5{
    top: 0;
    font-size: 0.9rem;
    color: #5555ff;
}

.form{
    text-align: center;
    justify-content:right;
}

.input-group{
    padding-top: 0.3rem;
    margin-top: 0.2rem;
}

label{
    font-size: 1.2rem;
    margin-right: 0.6rem;
}

input{

    font-size: 1.2rem;
    text-align: left;
}

.submit{

}
button{
    right: 0;
    margin: 1rem;
    align-self: flex-end;
}